@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins';
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  @apply text-slate-50 bg-body-color;
}

.container {
  @apply mx-auto
    px-12 
    md:max-w-screen-md 
    md:px-24 
    lg:max-w-screen-lg
    lg:px-24 
    xl:max-w-screen-xl
    xl:px-24;
}

.text-underline {
  border-bottom: 1px solid #65e2d9;
}

.form-input {
  @apply p-6 
    w-full
    rounded-full 
  text-slate-800 
    focus:outline-none 
  focus:border-sky-500 
    focus:ring-1 
    sm:text-sm
  bg-white border
  border-slate-400
  placeholder:text-slate-400;
}
