@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-family: 'Poppins';
	font-size: 62.5%;
	box-sizing: inherit;
}

body {
	background: hsl(218, 28%, 13%);
	/* background: hsl(219, 30%, 18%); */

	@apply text-slate-50;
}

#header {
	background: hsl(219, 30%, 18%);
}

.container {
	@apply  max-w-[37.5rem] px-12 mt-[4rem];

}

.background-image {
	background: hsl(219, 30%, 18%)
		url('../src/assets/images/bg-curvy-mobile.svg');
	height: auto;
	background-position: bottom;
	background-repeat: no-repeat;
}

.btn {
	background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}

