@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins';
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  background: hsl(218, 28%, 13%);
  /* background: hsl(219, 30%, 18%); */

  @apply text-slate-50;
}
.background-body {
  background: hsl(218, 28%, 13%);
}
#header {
  background: hsl(219, 30%, 18%);
}

.container {
  max-width: 76.8rem;
  margin:  0 auto;
  padding:  2rem;
}

@media screen and (min-width: 102.4rem) {
  .container {
    max-width: 76.8rem;
    margin:  0 auto;
  }
}

@media screen and (max-width: 130rem) {
  .container {
    max-width: 99.2rem;
    
    margin:  0 auto;
  }
}

.background-color {
  background: hsl(219, 30%, 18%);

}

.background-image {
  background-image: url('../src/assets/images/bg-curvy-mobile.svg');
  background-position: bottom;
  background-repeat: no-repeat;
}


.btn {
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
}

.primary-color {
  color: hsl(176, 68%, 64%);
  border-bottom: 1px solid hsl(176, 68%, 64%);
}

.card-bg {
  background-color: hsl(219, 30%, 18%);
}

.testimonial-container {
  background-image: url('../src/assets/images/bg-quotes.png');
  background-repeat: no-repeat;
  background-position: top left;
  padding: 2rem 0;
  z-index: 100;
  width: auto;
  height: 10px;
  /* position: absolute; */
  /* top: -2rem; */
}

.footer-bg {
  background: hsl(216, 53%, 9%);
}

#footer-nav ul:not(:last-child) {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#footer-nav ul li:not(:last-child) {
  margin-bottom: 1rem;
}

#footer-nav li {
  font-size: 1.6rem;
  @apply text-slate-400;
}

#footer-nav li:hover {
  text-decoration: underline;
  @apply text-slate-50;
}
